body {
    margin: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 90%;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    font-weight: 300;
    padding: 1em;
}

p {
    white-space: pre-wrap;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1 / 5;
    grid-row: 1;
    margin-left: 10px;
}

.two {
    grid-column: 6;
    grid-row: 1;
}

.three {
    grid-column: 1 / 4;
    grid-row: 2 ;
}

.four {
    grid-column: 5 / -1;
    grid-row: 2;
    display: flex;
    align-items: center;
}

#filter {
    filter: blur(0.3rem);

    /* Disable user dselect of blurred text */
    pointer-events: none;
    -webkit-user-select: none;
        /* Safari */
    -ms-user-select: none;
        /* IE 10 and IE 11 */
    user-select: none;
        /* Standard syntax */
}

textarea {
    padding: 10px;
    border-width: 2px 4px 4px 2px;
    margin: 10px 10px;
}



#textInput {
    position: relative;
    align-items: center;
    max-height: 300px;
}

#messageLabel{
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
}

#redactResponseLabel {
    position: absolute;
    top: -1ex;
    z-index: 1;
    left: 1em;
    background-color: white;
    padding: 0 5px;
}

#message {
    width: 100%;
    max-height: 100%;
}

#redactedMsg {
    padding: 10px;
    margin: 10px;
}

#redactSettings {
    align-items: center;
}

#redactStr {
    width: 100%;
}

.btns {
    cursor:  pointer;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 20px;
}

select {
    height: 2em;
}

#response {
    position: relative;
    border: dashed 2px black;
    border-style: groove;
    margin: 10px;
    margin-top: 40px;
}